/test.json
/train.json
/nsp_distances_angles.tar.gz
/test_public.json
/rec_to_optim.json
/train_cv_splits.json
/contrafold_structures.json
/contrafold_bpp
/cg_graphs
/sample_submission.csv
/sampled_structures.json
/sampled_structures_trained.zip
